<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
 <welcome-file-list>
    <welcome-file>index.html</welcome-file>
</welcome-file-list>
 
 
 <servlet>
  <servlet-name>LisaKandidaatServlet</servlet-name>
  <servlet-class>veebirakendus.LisaKandidaatServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>LisaKandidaatServlet</servlet-name>
  <url-pattern>/LisaKandidaat</url-pattern>
 </servlet-mapping>
  
  
 <servlet>
  <servlet-name>PakuKandidaatServlet</servlet-name>
  <servlet-class>veebirakendus.PakuKandidaatServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>PakuKandidaatServlet</servlet-name>
  <url-pattern>/PakuKandidaat</url-pattern>
 </servlet-mapping>
  
  
 <servlet>
  <servlet-name>KandidaadiUuendusServlet</servlet-name>
  <servlet-class>veebirakendus.KandidaadiUuendusServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>KandidaadiUuendusServlet</servlet-name>
  <url-pattern>/UuendaKandidaadid</url-pattern>
 </servlet-mapping>
  
   
 <servlet>
 <servlet-name>HaaletaServlet</servlet-name>
  <servlet-class>veebirakendus.HaaletaServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>HaaletaServlet</servlet-name>
  <url-pattern>/Haaleta</url-pattern>
 </servlet-mapping>  

<servlet>
 <servlet-name>KandidaadiNimekiriServlet</servlet-name>
  <servlet-class>veebirakendus.KandidaadiNimekiriServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>KandidaadiNimekiriServlet</servlet-name>
  <url-pattern>/Nimekiri</url-pattern>
 </servlet-mapping>  
 
<servlet>
 <servlet-name>KandidaadiOtsingServlet</servlet-name>
 <servlet-class>veebirakendus.KandidaadiOtsingServlet</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>KandidaadiOtsingServlet</servlet-name>
 <url-pattern>/Otsing</url-pattern>
</servlet-mapping> 
  
 <servlet>
 <servlet-name>KandidaadiStatistikaServlet</servlet-name>
  <servlet-class>veebirakendus.KandidaadiStatistikaServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>KandidaadiStatistikaServlet</servlet-name>
  <url-pattern>/KandidaadiSt</url-pattern>
 </servlet-mapping> 
 
 <servlet>
 <servlet-name>ErakonnadeStatistikaServlet</servlet-name>
  <servlet-class>veebirakendus.ErakonnadeStatistikaServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ErakonnadeStatistikaServlet</servlet-name>
  <url-pattern>/ErakonnadeSt</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>PiirkonnadeStatistikaServlet</servlet-name>
  <servlet-class>veebirakendus.PiirkonnadeStatistikaServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>PiirkonnadeStatistikaServlet</servlet-name>
  <url-pattern>/PiirkonnadeSt</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>RiigiStServlet</servlet-name>
  <servlet-class>veebirakendus.RiigiStServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>RiigiStServlet</servlet-name>
  <url-pattern>/RiigiSt</url-pattern>
 </servlet-mapping>
 
 
 <servlet>
 <servlet-name>TyhistaHaalServlet</servlet-name>
  <servlet-class>veebirakendus.TyhistaHaalServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>TyhistaHaalServlet</servlet-name>
  <url-pattern>/TyhistaHaal</url-pattern>
 </servlet-mapping>
 
  
 <servlet>
 <servlet-name>GetTokenServlet</servlet-name>
  <servlet-class>veebirakendus.GetTokenServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>GetTokenServlet</servlet-name>
  <url-pattern>/GetToken</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>LoginServlet</servlet-name>
  <servlet-class>veebirakendus.LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
 
 
  <servlet>
 <servlet-name>ClearTestChangesServlet</servlet-name>
  <servlet-class>veebirakendus.ClearTestChangesServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ClearTestChangesServlet</servlet-name>
  <url-pattern>/clearChanges</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>PiirkonnaErakonnaServlet</servlet-name>
  <servlet-class>veebirakendus.PiirkonnaErakonnaServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>PiirkonnaErakonnaServlet</servlet-name>
  <url-pattern>/PES</url-pattern>
 </servlet-mapping>

</web-app>