body{
	background-color: #EEEEEE;
}

.navigatsioon {
	display: none;
}

.subcontainer {
}

.sisu {
	visible: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin: 15px;
	padding: 15px;
	background-color: #FFFFFF;
	border-width: 0px;
	border-style: solid;

}

.banner {
	display: none;
}

.radiobutton {
	display: none;
}

.imagebox{
	position: relative;
	text-allign: center;
}

.jalus{
	display: none;
}