body{
	background-color: #EEEEEE;
}

.container {
	margin: 0 auto;
    overflow: hidden;
	width: 800px;
	background-color: #EBEBEB;
	border-color: #D7D7D7;
	border-style: solid;
	border-width: 1px;
}

#ootusel {
	padding-left:368px;
	padding-top:30px;
	padding-bottom:30px;
}


ul.menyy {
	float: none;
	border-radius: 5px;
	background-color: #1A75FF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: 700;
	font-variant: small-caps;
}

ul.menyy li {
	margin:10px;
	display: inline-block;
}

ul.menyy a {
	font-variant: normal;
	font-style: normal;
	text-decoration:none;
	padding:10px;
	color: #ffffff;
}

ul.menyy a:hover {
	background-color:white;
	color:#1A75FF;
	border-radius: 1px;
	padding-bottom:10px;
	padding-top:11px;
	
}




a.active {
	background-color: #0061F2;
	color: #000000;
	border-radius:4px;
}

a.notactive {
	background-color:#1A75FF;
	color: #FFFFFF;
}




.navigatsioon {
	text-align:center;	
	padding-left:10px;
	padding-right:10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: large;
	
}

.subcontainer {
}

.sisu_a {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin: 15px;
	margin-bottom:0px;
	padding: 15px;
	background-color: #FFFFFF;
	border-width: 0px;
	border-style: solid;
}

.sisu_b {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin: 15px;
	margin-bottom:0px;
	padding: 15px;
	background-color: #FFFFFF;
	border-width: 0px;
	border-style: solid;
}

.sisu_a p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 12px;
}

.banner {
	width:100%;
	height:115px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

.banner-right {
	border-top-right-radius: 6px;
	background-color: #FFFFFF;
	float: left;
	width: 80%;
	height: 125px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	font-variant: small-caps;
	color: #3333FF;
}

.banner-right h1 {
	
	float:left;
}


.logo-left {
	border-top-left-radius: 6px;
	background-color: #FFFFFF;
	float: left;
	width: 17%;
	height: 125px;
}


#logo {	
	border-top-left-radius: 8px;
}


.login {
	background-color: #FFFFFF;

}

.login h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
	font-weight: normal;
	font-variant: normal;
}


.input {
	width:200px;
	float:left;
	margin-right:10px;
}

.btn-login {
	width: 100px;
	background-color: #006CCC;
	background-image: linear-gradient(to bottom, #0099CC, #0033CC);
	background-repeat: repeat-x;
	border-color: #000088;
	color: #FFFFFF;
}

.btn-login:hover {
  background-color: blue;
  background-image:none;
  background-repeat:no-repeat;
  color: #ffffff;
}


.btn-search {
	width: 100px;
	background-color: #006CCC;
	background-image: linear-gradient(to bottom, #0099CC, #0033CC);
	background-repeat: repeat-x;
	border-color: #000088;
	color: #FFFFFF;
}

.btn-search:hover {
  background-color: blue;
  background-image:none;
  background-repeat:no-repeat;
  color: #ffffff;
}


.login {
	padding-bottom:0px;
}

.login form {
	width:100px;
	float:left;
}


.radiobutton {
	position: relative;
	left: 440px;
	top: -320px;
}


.thumbnail {
	position: relative;
	left: 0px;
	top: 0px;
	width: 420px;
	height: 340px;
}

.thumbnail_alt {
	position: relative;
	left: -100px;
	top: -100px;
	width: 200px; 
	height: 120px;
}


.thumbnail_photo{
	width:80px;
	margin-left:10px;
	
}



.kandideeri-btn {
	width: 170px;
	background-color: #006CCC;
	background-image: linear-gradient(to bottom, #0099CC, #0033CC);
	background-repeat: repeat-x;
	border-color: #000088;
	color: #FFFFFF;	
}

.kandideeri-btn:hover {
  background-color: blue;
  background-image:none;
  background-repeat:no-repeat;
  color: #ffffff;
}

.kandideeri h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
	font-weight: normal;
	font-variant: normal;
	padding-bottom:10px;
}

.kandideeri p {
	padding-bottom:10px;
}

.search{
	background-color: #FFFFFF;
	margin-left:20px;
}

 

.search h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
	font-weight: normal;
	font-variant: normal;
}

.tabel {
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: medium;
	color: #404040;
	width: 700px;
	background-color: #FFFFFF;
	border-spacing:15px 5px;
	margin-top: 35px;
	margin-bottom: 25px;
}

.jalus {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: 800;
	color: #FF0000;
}

#valid-img {
	float:left;
	border:0;
	height:31px;
	padding-bottom:15px;
	margin-right:10px;
}

.valid {
	margin-left:16px;
	margin-right:15px;
}

#piirkonnad {

	margin-bottom:15px;
}

#ankeet {
	float:left;
	padding-bottom:20px;
}


.ankeediRida {

	margin-bottom:10px;
}

.ankeediRida input {
	width: 195px;
	
}

.ankeediRida label {
	float:left;
	width:50px;
}


.kandideerin select {
	width:250px;
	margin-top:5px;
}


#nimi {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
	font-weight: normal;
	font-variant: normal;
	padding-bottom:10px;
}

.ankeet {
	margin-left: 15px;
	padding-top: 10px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: small;
}

.ankeet button {
	width:100px;
	margin-top:20px;
	margin-left:150px;
	margin-bottom:10px;
}


/* tekstikast lisainfo jaoks, ei lisanud praegu 
.kandideerin textarea {
	float:right;
	margin-top:10px;
	width:245px;
}
*/

.kinnitus {
	text-align:center;
	overflow:hidden;
}

.kinnitus button {
	width: 110px;
	background-color: #006CCC;
	background-image: linear-gradient(to bottom, #0099CC, #0033CC);
	background-repeat: repeat-x;
	border-color: #000088;
	color: #FFFFFF;	
	margin-left:25px;
	margin-top:15px;
	margin-bottom:25px;
	float: left;
}

#katkestan {
	margin-left:245px;	
}

.kinnitus h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: x-large;
	font-weight: 600;
}

.kinnitus h3 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: large;
	font-weight: 400;
}


.kinnitatud {
	border: 1px solid #00CE00;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-top: -10px;
	background-color: #79FF79;
}


.kinnitatud h3 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
	font-weight: 400;
}

#haaletamine-valik select {
	width:200px;
	margin-top:0px;

}

#valimine-edasi-btn {
	width:100px;
	margin-left:320px;
}


.ankeetVigane {
	border: 1px solid #f00;
	background-color:#FFD5D5;
}

.ankeetKorras {
	border: 1px solid #339933;
	background-color: #DDFFBB;
}

.ankeetRist {
	color: #CC3300;
	margin-left:0px;
}

.ankeetLinnuke {
	color: #4DEA00;
	margin-left: 10px;
}

.ui-autocomplete-loading {
	background: white url('img/ui-anim_basic_16x16.gif') right center no-repeat;
}


#tulemusteMenyyUL {
	list-style-type: none;


}


.tabeliDiv {
	
}

#tulemusteMenyy {
	padding-top:15px;
	padding-bottom:15px;
}

#tulemusteMenyy li{
	float: left;
	margin-right: 25px;
	margin-left: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: 600;
}

.tulemusteTabel {

}


#piirkonnaTabel {
	display:none;
}

#kandidaatideTabel {
	display:none;
}

#koguRiigiTabel {
	display:none;
}

#tyhistaH22l {
width: 150px;
background-color: #006CCC;
background-image: linear-gradient(to bottom, #0099CC, #0033CC);
background-repeat: repeat-x;
border-color: #000088;
color: #FFFFFF;
margin-left:18px;
}

#vtTulemusi {
width: 150px;
background-color: #006CCC;
background-image: linear-gradient(to bottom, #0099CC, #0033CC);
background-repeat: repeat-x;
border-color: #000088;
color: #FFFFFF;
margin-left:20px;

}

.loginBar {

	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: small;
	margin-top: -5px;
	color: #000000;
}

.loginBarInfo {

	border-radius: 2px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:15px;
	padding-right:15px;
}

.loginBarInfo a {
	margin-left:15px;
	
}

.loginBarInfo p {
	margin-left:0px;
	display:inline;

}




